.ListOfGifs {
  display: -ms-grid;
  display: grid;
  min-height: 100vh;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 0 16px;
  align-items: center;
}

.ListOfGifs-item {
  background-color: #eee;
  display: inline-block;
  width: 100%;
}